.dashboard{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 32px;
  padding: 32px;
  width: calc(100vw - 64px);
  height: auto;
}
.pageContent{
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 32px;
  position: relative;
  max-width: 800px;
  padding-left: 24px;
}
@media screen and (max-width: 1199px){
  .dashboard{
    padding: 16px 24px;
    width: calc(100% - 48px);
  }
}
@media screen and (max-width: 989px){
  #root{
    width: 100%;
  }
  .pageContent{
    max-width: 100%;
    padding-left: 0;
  }
}
@media screen and (max-width: 749px){
  .pageContent{
    max-width: 100%
  }
}